<div >
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Steam ID</th>
                <th>Abandon Date</th>
                <th>Abandon Time</th>
            </tr>
        </thead>
        <tbody>
            <% @abandon_data.each do |data| %>
                <tr>
                    <td><%= data.id %></td>
                    <td><%= data.steam_id_id %></td>
                    <td><%= data.abandon_date_time.strftime("%Y-%m-%d") %></td>
                    <td><%= data.abandon_date_time.strftime("%I:%M %p") %></td>
                    <td><%= link_to 'Edit', edit_abandon_datum_path(data) %></td>
                    <td><%= link_to 'Destroy', abandon_datum_path(data), method: :delete, data: { confirm: 'Are you sure?' } %>
                </tr>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
