<div class='container-fluid'>
  <p style="color: green"><%= notice %></p>

  <h1>Abandon data</h1>

  <%= link_to 'Add New data',  new_abandon_datum_path  %>

  <div class='container' id="abandon_data">
    <div class='row'>
      <div class='col-md-12 my-5'>
        <%= column_chart AbandonData.group_by_day_of_week(:abandon_date_time, format: "%a").count %>
      </div>
      <div class='col-md-12 my-5'>
        <%= line_chart AbandonData.group_by_day(:abandon_date_time).count %>
      </div>
      <div class='col-md-12 my-5'>
        <%= pie_chart AbandonData.group(:steam_id_id).count %>
      </div>
      <div class='col-md-12 my-5'>
        <%= bar_chart AbandonData.group_by_hour_of_day(:abandon_date_time).count %>
      </div>
    </div>
  </div>
  <div class='container'>
    <%= render  'abandon_data'  %>
  </div>
</div>