<p style="color: green"><%= notice %></p>

<p>
  <strong>Steam ID:</strong>
  <%= @abandon_data.steam_id_id %>
</p>

<p>
  <strong>Abandon Date:</strong>
  <%= @abandon_data.abandon_date_time.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>Abandon Time:</strong>
  <%= @abandon_data.abandon_date_time.strftime("%I:%M %p") %>
</p>  

<div>
  <%= link_to "Edit this abandon data", edit_abandon_datum_path(@abandon_data) %> |
  <%= link_to "Back to abandon data", abandon_data_path %>

  <%= button_to "Destroy this abandon data", @abandon_data, method: :delete %>
</div>
